import React from 'react'
import PropTypes from 'prop-types'
import Section from 'components/Section'
import SectionItem from 'components/Section/components/SectionItem'
import useStyles from './Styles'

const {{pascalCase name}} = ({}) => {
  const classes = useStyles()

  return (
    <Section>
      <SectionItem>{{pascalCase name}}</SectionItem>
    </Section>
  )
}

{{pascalCase name}}.propTypes = {}

{{pascalCase name}}.defaultProps = {}

export default {{pascalCase name}}